---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Página no Encontrada">
    <main>
        <h1>Error 404, Página no encontrada</h1>
        <a href="/">Volver al inicio</a>
    </main>
</Layout>
