---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header.astro";
import SeleccionarGrado from "@/components/SeleccionarGrado.astro";
---

<Layout title="Biblioteca Colgesan">
    <main>
        <Header />
        <section>
            <SeleccionarGrado />
        </section>
    </main>
</Layout>
