---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header/Header.astro";
import SeleccionarGrado from "@/components/SeleccionarGrado.astro";
import Recomendaciones from "@/components/Recomendaciones.astro";
---

<Layout title="Viajando Entre Páginas | Inicio">
    <Header />
    <main>
        <SeleccionarGrado />
        <Recomendaciones />
    </main>
</Layout>

<style>
    @media (min-width: 1024px) {
        main {
            display: flex;
        }
    }
</style>
