---
import Layout from "../layouts/Layout.astro";
import ListaDeLibros from "../components/ListaDeLibros.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <header>
            <h1>Biblioteca <span class="text-gradient">Colgesan</span></h1>
        </header>
        <section>
            <ListaDeLibros />
        </section>
    </main>
</Layout>

<style>
    header {
        text-align: center;
    }
</style>
