---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header/Header.astro";
---

<Layout title="Viajando Entre Páginas | Nosotros">
    <Header linkActive="nosotros" />
    <main>
        <picture class="fade-in">
            <source
                srcset="/img/background/nosotros-banner.avif"
                type="image/avif"
            />
            <img
                src="/img/background/nosotros-banner.webp"
                alt="Foto de las 4 integrantes del proyecto"
            />
        </picture>

        <h3>¿Quiénes somos?</h3>
        <p>
            Somos un grupo de 4 estudiantes mujeres de 16 años del colegio
            general Santander, apasionadas por la tecnología y la literatura.
            Nuestro objetivo es compartir con la comunidad educativa y con el
            mundo los libros y recursos que se encuentran en la biblioteca de
            nuestra institución.
        </p>
        <br />
        <p>
            Nuestros nombres son Luz Camila Bautista Barrera, Sharon kristhel
            Ibáñez Diazgranados, Karol Saraí Rondon Hernández y Nasly Mariana
            Florez Florez. Somos amigas y compañeras de clase que decidimos unir
            habilidades y creatividad para crear esta página web como proyecto
            del colegio.
        </p>
        <br />
        <p>
            Juntas, hemos creado esta página web para compartir nuestros
            recursos y conocimientos con todos. Esperamos que disfruten
            explorando nuestra página y que encuentren algo que les sea útil o
            interesante.
        </p>

        <style>
            h3 {
                margin-bottom: 40px;
            }
        </style>
    </main>
</Layout>

<style>
    main {
        width: 100%;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 200px;
    }
    h3 {
        padding-top: 20px;
    }

    picture {
        display: block;
        height: 550px;
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid var(--border);
        box-shadow: 4px 4px 0 var(--border);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
</style>
