---
import HeaderMobile from "./HeaderMobile.astro";
import ListaDeLinks from "./ListaDeLinks.astro";
import EstamosTrabajando from "./EstamosTrabajando.astro";

const { linkActive } = Astro.props;
---

<header transition:name="header">
    <nav>
        <HeaderMobile />
        <ListaDeLinks linkActive={linkActive} />
    </nav>

    <!-- <EstamosTrabajando /> -->
</header>

<style>
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        background-color: #fffffe;
        border-bottom: 1px solid var(--border);

        nav {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (min-width: 768px) {
        header {
            position: relative;
        }
    }
</style>
