---
const { linkActive } = Astro.props;
---

<header>
    <nav>
        <ul>
            <li>
                <a href="#" class=`link ${linkActive === 'libros' && 'active'}`>
                    Libros
                </a>
            </li>
            <li>
                <a href="/" class="logo">
                    <picture>
                        <source
                            srcset="/img/icons/icono-proyecto.webp"
                            type="image/webp"
                        />
                        <img
                            src="/img/icons/icono-proyecto.jpeg"
                            alt="Logo del proyecto Viajando entre páginas"
                        />
                    </picture>
                </a>
            </li>
            <li>
                <a
                    href="/nosotros"
                    class=`link ${linkActive === 'nosotros' && 'active'}`
                >
                    Nosotros
                </a>
            </li>
        </ul>
    </nav>
    <!-- <div class="logo">
        <picture>
            <source srcset="/img/icons/logo-colgesan.avif" type="image/avif"/>
            <img
                src="/img/icons/logo-colgesan.webp"
                alt="Logo colegio General Santander"
            />
        </picture>
    </div> -->
</header>

<style>
    ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 40px;

        li {
            list-style: none;

            a.link {
                position: relative;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 20px;
                letter-spacing: 1px;

                &.active::after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    left: -2px;
                    top: 24px;
                    right: -2px;
                    bottom: 0;
                    background-color: red;
                }
            }
        }
    }

    a.link::before {
        content: "";
        position: absolute;
        height: 2px;
        left: -2px;
        top: 24px;
        right: -2px;
        bottom: 0;
        transform: scaleX(0);
        background-color: red;
    }
    a.link:hover::before {
        transform-origin: left;
        transform: scaleX(1);
        transition: transform 0.3s ease-out;
    }
    ul .logo img {
        width: 100%;
        max-width: 200px;
    }
    @media (max-width: 768px) {
        header {
            font-size: 30px;
            line-height: 55px;
            margin-bottom: 0px;
        }
        header h1 {
            font-size: 52px;
            line-height: 48px;
        }
    }
</style>
