---
import { LIBROS } from "@/data/libros.js";
---

<ul class="libros">
    {
        LIBROS.map((libro, index) => {
            return (
                <li>
                    <a href={`/${libro.imagen_libro}`}>
                        <img
                            src={`/img/libros/${libro.imagen_libro}.webp`}
                            alt="Imagen portada del libro"
                            style={`view-transition-name: libro-${libro.id}`}
                        />
                        <h3>{libro.nombre}</h3>
                    </a>
                </li>
            );
        })
    }
</ul>

<style>
    a {
        color: var(--color);
        text-decoration: none;
    }
</style>
