<aside class="aside">
    <h3>¿Quiénes somos?</h3>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur
        tempora labore veniam sit natus quis necessitatibus voluptatem tempore
        et reiciendis, deleniti ab neque explicabo voluptatum. Nihil, quisquam
        officiis! At, nulla.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti,
        fugiat excepturi natus dolore tempora ipsam aut adipisci voluptas minima
        maiores, iure quam tempore corrupti asperiores laborum voluptate commodi
        nesciunt laboriosam!
    </p>
</aside>
