---
import CardRecommendation from "./CardRecommendation.astro";
---

<aside class="aside">
    <h3>Recomendaciones:</h3>
    <p>No olvides visitar algunos de los siguientes sitios:</p>
    <div>
        <ul>
            <CardRecommendation
                href="https://maguared.gov.co/"
                title="Link hacia Maguared.gov.co"
                color="#462445"
            >
                <img
                    src="/img/recomendaciones/maguared.png"
                    alt="Logo de la página maguared.com puesta como recomendación."
                />
            </CardRecommendation>
            <CardRecommendation
                href="https://www.ellibrototal.com/ltotal/"
                title="Link hacia ellibrototal.com/"
                color="#EA7465"
            >
                <img
                    src="/img/recomendaciones/el-libro-total.svg"
                    alt="Logo de la página ellibrototal.com puesta como recomendación."
                />
            </CardRecommendation>
            <CardRecommendation
                href="https://www.loqueleo.com/co/"
                title="Link hacia loqueleo.com/co/"
                color="#F5A461"
            >
                <img
                    src="/img/recomendaciones/loqueleo.png"
                    alt="Logo de la página loqueleo.com puesta como recomendación."
                />
            </CardRecommendation>
            <CardRecommendation
                href="https://megaprofe.es/"
                title="Link hacia megaprofe.es/"
                color="#63C5B7"
            >
                <img
                    src="/img/recomendaciones/megaprofe.png"
                    alt="Logo de la página megaprofe.es puesta como recomendación."
                />
            </CardRecommendation>
            <CardRecommendation
                href="https://youtube.com/@Infolibros/videos"
                title="Link hacia el canal de InfoLibros"
                color="#F39C9F"
            >
                <img
                    src="/img/recomendaciones/infolibros.png"
                    alt="Logo del canal de Youtube InfoLibros puesta como recomendación"
                />
            </CardRecommendation>
            <CardRecommendation
                href="https://www.banrepcultural.org/biblioteca-virtual"
                title="Link hacia la biblioteca virtual del banco de la república"
                color="#FFFFFF"
            >
                <img
                    src="/img/recomendaciones/banco-de-la-republica.png"
                    alt="Logo de la página de la biblioteca virtual del banco de la república puesta como recomendación."
                />
            </CardRecommendation>
        </ul>
    </div>
</aside>

<style>
    .aside {
        width: 100%;
    }
    h3 {
        margin-bottom: 20px;
        font-size: 20px;
    }
    p {
        margin-bottom: 20px;
    }

    div {
        padding-bottom: 100px;
    }
    img {
        width: 100%;
        height: auto;
    }
    @media (max-width: 1023px) {
        .aside {
            display: grid;
            place-items: center;
        }
    }
</style>
