<aside class="aside">
    <h3>Recomendaciones</h3>
    <div>
        <ul>
            <li>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    title="hola"
                    href="https://maguared.gov.co/"
                >
                    MaguaRED
                </a>
            </li>
            <li>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://www.ellibrototal.com/ltotal/"
                >
                    El Libro Total
                </a>
            </li>
            <li>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://www.loqueleo.com/co/"
                >
                    Loqueleo
                </a>
            </li>
            <li>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://megaprofe.es/"
                >
                    MegaProfe
                </a>
            </li>
            <li>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://youtube.com/@Infolibros/videos"
                >
                    InfoLibros (YouTube)
                </a>
            </li>
            <li>
                <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://www.banrepcultural.org/biblioteca-virtual"
                >
                    Biblioteca Vistual Banco de la República
                </a>
            </li>
        </ul>
    </div>
</aside>

<style>
    h3 {
        margin-bottom: 40px;
    }

    div {
        padding-bottom: 100px;
    }
</style>
