---
import { INFORMACION_LIBROS } from "@/data/libros.js";
---

<section class="contenido-principal">
    {
        INFORMACION_LIBROS.map((grado, i) => {
            return (
                <div>
                    <a href={`/grado/${grado.id}`}>
                        {grado.grado} <br />
                        {grado.profesor} <br />
                        {grado.comentariosProfesor}
                    </a>
                </div>
            );
        })
    }
</section>

<style>
    .contenido-principal {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        margin-bottom: 40px;
    }

    .contenido-principal div {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        border: 2px solid rgba(27, 31, 43, 0.1);
        border-radius: 8px;
        text-align: left;
    }
    .contenido-principal div a {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }

    @media (max-width: 767px) {
        .contenido-principal div {
            max-width: 100%;
        }
    }
</style>
