---
import "@fontsource/poppins";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="view-transition" content="same-origin" />
        <title>{title}</title>
        <meta property="og:title" content="Biblioteca Colgesan 1" />
        <meta property="og:description" content="Proyecto Biblioteca 2" />
        <meta
            property="og:url"
            content="https://biblioteca-colgesan.vercel.app/"
        />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/favicon.svg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --background: rgb(240, 238, 226);
        --background-secondary: rgb(253, 252, 247);
        --color: rgb(27, 31, 43);
        --button: #192020;
    }
    html {
        font-family: "Poppins", sans-serif;
        background-color: var(--background);
        color: var(--color);
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    main {
        width: 100%;
        height: 100vh;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }
    header {
        text-align: center;
    }

    .title-2 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 40px;
    }
    .title-3 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .libros {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 230px));
        gap: 20px;
        justify-content: center;
        text-align: center;
    }

    .libros li {
        list-style: none;
    }

    .libros img {
        width: 100%;
        aspect-ratio: 48/73;
    }

    /* Estilos - Libro */
    /* --------------- */
    .info {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .info-imagen {
        text-align: center;
        z-index: 1;
    }

    .info-imagen img {
        width: 100%;
        max-width: 230px;
        object-fit: cover;
        box-shadow: -12px 12px 20px 2px rgba(0, 0, 0, 0.5);
    }

    .info-general {
        margin-bottom: 40px;
    }

    .info-general .genero {
        text-transform: capitalize;
    }
    .info aside {
        padding: 0px 20px;
    }
    .info-descripcion {
        position: relative;
        top: -100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 160px 80px 80px;
        background-color: var(--background-secondary);
        border-radius: 8px;
    }

    .info-descripcion div {
        padding: 0 20px;
    }
    .info-descripcion div:last-child {
        padding: 48px 20px;
    }
    .descargarLibro {
        position: absolute;
        top: 0px;
        right: 80px;
        width: calc(50% - 80px);
        border-bottom: 2px solid rgba(27, 31, 43, 0.1);
    }
    .descargarLibro a {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 24px;
        color: var(--background-secondary);
        background-color: var(--button);
        text-decoration: none;
    }

    @media (max-width: 768px) {
        .info {
            display: block;
        }
        .info aside {
            text-align: center;
        }
        .info-descripcion {
            display: block;
            top: 0px;
            padding: 120px 0px 40px;
            margin-left: -15px;
            margin-right: -15px;
        }
        .info-descripcion div {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
        .info-general {
            margin-bottom: 60px;
        }
        .info-imagen {
            padding-top: 20px;
            padding-bottom: 40px;
        }
        .descargarLibro {
            width: 100%;
            right: 0px;
            left: 0px;
            text-align: center;
            top: -70px;
            margin: 0 auto;
        }
    }
    /* --------------- */
    /* Estilos - Libro */

    @media (max-width: 768px) {
        .info {
            grid-template-columns: 1fr;
        }
        .info-imagen {
            text-align: left;
            padding: 60px 20px 30px;
        }
        .title-2 {
            margin-bottom: 32px;
        }
    }
</style>

<script>
    // import { ejecutarTransicion } from "@/utils/navegacion.js";
    // ejecutarTransicion();
</script>
