---
import "@/styles/styles.css";
import "@fontsource/merriweather";
import { ViewTransitions } from "astro:transitions";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="view-transition" content="same-origin" />
        <meta property="og:title" content="Biblioteca Colgesan 1" />
        <meta property="og:description" content="Proyecto Biblioteca 2" />
        <meta
            property="og:url"
            content="https://biblioteca-colgesan.vercel.app/"
        />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/favicon.svg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    :root {
        --background: rgb(240, 238, 226);
        --background-secondary: rgb(253, 252, 247);
        --color: rgb(27, 31, 43);
        --button: #192020;
    }
    html {
        font-family: "Merriweather", serif;
        background-color: var(--background);
        color: var(--color);
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
</style>
